* {
  --primary-color: #f50057;
  --secondary-color: #ff80ab;
  font-family: "Lato", sans-serif;
}

.welcomeName {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--primary-color);
}

.userName {
  font-size: 18px;
  color: var(--primary-color);
  margin: 8px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  min-height: 60px;
  background-color: white;
  font-size: 30px;
}

.paragraph {
  display: flex;
  margin: 0;
  text-transform: uppercase;
  padding-left: 10%;
  flex-grow: 1;
  color: var(--primary-color);
}

button {
  font: inherit;
  /* background-color: transparent; */
  background-color: var(--primary-color);
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  margin: 5px;
}

.userWalcome {
  font-size: 15px;
  color: var(--primary-color);
}
