.barContainer {
  width: 100%;
  height: 20px;
  background-color: aqua;
  margin: 10px;
}

.barValue {
  height: 100%;
  background-color: black;
}

.statusBarContainer {
  display: flex;
}

.barName {
  text-align: end;
  text-transform: uppercase;
  margin: 10px;
  width: 200px;
}
